:root {
  --blue: #010326;
  --green: #3CB371;
  --vertEco: #4CAF50;
  --vertEcoFonce: #1a5e20;
  --yellow: #f9f871;
  --yellowpale: #f2fedc;
  --bluef:#00ffec;
  --text: #F5F5F5;
}


html, body, #root {
  height: 100%;       /* obligatoire pour que min-height: 100vh fonctionne correctement */
  width: 100%;        /* s’assure que ça prend toute la largeur */
  margin: 0;
  padding: 0;
  background-color: var(--blue);
  color: var(--text);
  font-family: 'Roboto', sans-serif;
}